@charset "EUC-KR";



body.main { /* class 셀렉터 */
	 background-color : skyblue;
}

.headline { /* class 셀렉터 */
	 color : red;
}

div.help { /* class 셀렉터 */
	 color : blue;
}

.help. 2class
{ /* class 셀렉터 */
	 color : blue;
}




p.help { /* class 셀렉터 */
	 color : red;
	 font-size : 20px;
}

#hot { 
	/* background-color : */
	 background-color : orange;
}